body{
    background-image: url(../img/fndolavadero.png);
    background-repeat: no-repeat;
    background-size: 1390px;
}
.logo {
    width: 60px;
}

nav {
    background-color: #333; /* Color de fondo de la barra de navegación */
}

nav ul {
    list-style-type: none; /* Elimina los puntos de viñeta de la lista */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block; /* Los elementos de navegación se muestran en línea */
}

nav a {
    display: block;
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    padding: 10px 20px; /* Espaciado alrededor de los enlaces */
}

nav a:hover {
    background-color: #666; /* Color de fondo cuando se pasa el ratón por encima */
}

#nombreE {
    margin-left: 45%;
    color:yellow;
}
@font-face {
    font-family: letratitutlo;
    src: url("RussoOne-Regular.ttf");
}
.carousel {
    width: 30%; /* Ajusta el ancho del carrusel según tus necesidades */
    max-width: 90%; /* Establece un ancho máximo para limitar el tamaño del carrusel */
    margin: 0 auto; /* Centra horizontalmente el carrusel */
    border: solid 3px rgb(18, 184, 196);
    border-radius: 1%;
}
.carousel-item img{
    height: 600%;
    object-fit: contain; /* Ajusta la imagen para que se muestre completamente sin recortarla */
}
.carousel {
    margin-top: 10px;
}
#acerca {
    color: aliceblue;
    margin-left: 5px;
    text-decoration: underline;
}
.container {
    max-width: 50px; /* El ancho máximo del contenedor */
    margin: 10px auto; /* Centra el contenedor en la página, opcional */
}

.text1 {
    background-color: lightblue; /* Color de fondo del texto destacado */
    border: 4px double rgb(28, 204, 136); /* Borde del texto destacado */
    padding: 10px; /* Espacio interno para separar el contenido del borde */
}